/* css styles */

a:link {
      text-decoration: none;
}

a:visited {
/* text-decoration: none;   */
}

a:hover {
/*      text-decoration: none;  */
}

a:active {
/*      text-decoration: none;  */
}

h2.subtitle{
  text-decoration: none;
}  

h3.title {
  text-decoration: none;
} 
