/*-- scss:defaults --*/
// Base document colors. theme "Morpph": https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/morph.scss
$link-color: #4d4d6f;
$toc-color: #2fa4e7;

// Code blocks
//$code-block-bg-alpha: -.9;

.header-section-number {
  color: #2fa4e7 !important;
 }
